* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d2d2d2;
}

.container {
    padding: 0 5rem;
}

/* header bar  */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
    background-color: #f3f2f2;
}

.contact p {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(3, 120, 3);
}

.contact p img {
    margin-right: .7rem;
}

.profile{
    display: flex;
    align-items: center;
}

.profile img {
    margin-right: .7rem;
    border-radius: 50%;
}

.address h3, p {
    text-align: start !important;
}

/* Navigation Bar  */
.navigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
    background-color: #000;
    color: #fff;
}

.navigationbar div a {
    text-decoration: none;
    color: #fff;
    margin: 0 .5rem;
}

.navigationbar div a:hover {
    font-weight: 700;
    text-decoration: underline;
}

.navigationbar > a {
    padding: .5rem 1.2rem;
    border: 1px solid rgb(0, 10, 155);
    background-color: #4d4c4c;
    color: rgb(238, 238, 4);
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px;
}

.navigationbar > a:hover {
    text-decoration: underline;
    background-color: #0b7903;
    color: #fff;
    font-weight: bolder;
}

/* content  */

.content {
    display: flex;
    justify-content: space-between;
}

/* Right bar  */
.right-content {
    background-color: rgb(174, 199, 229);
    width: 330px;
    padding: 1rem;
}

.right-content .box-1, .box-3 {
    display: flex;
    flex-direction: column;
}

.right-content .box-1 img, .box-3 img {
    box-shadow: 1px 2px 2px 1px #989797;
    margin:  0 auto;
}

.right-content .box-1 img {
    width: 10rem;
    border-radius: 50%;
}

.right-content .box-3 img {
    width: 15rem;
    height: 10rem;
    border-radius: 5px;
}

.box-2 {
    height: 1px;
    background-color: blue;
    margin: 1.5rem 0;
}

.box-1 p, .box-3 p {
    margin-top: 1rem;
    text-align: center !important;
    font-weight: bold;
    line-height: 1.3rem;
}

/* Main content  */

.main-content {
    background-color: #fff;
    padding: 0 1rem;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid rgb(185, 185, 185);
}

#txtSearch {
    padding: .3rem 1rem;
    border-radius: 10px;
    min-width: 200px;
}

.content-detail {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgb(182, 181, 181);
    margin: .5rem;
    padding: .5rem .7rem;
    box-shadow: 1px 1px 2px 3px rgb(212, 212, 212);
    overflow: hidden;
}

.card img {
    height: 150px;
    width: 100;
    margin-bottom: 1rem;
    opacity: 1;
}

.card img:hover {
    opacity: 0.8;
    cursor: pointer;
    animation: image 1s;
}

@keyframes image {
    0% {transform: scale(100%);}
    100% {transform: scale(115%);}
}

.card h3, p {
    text-align: center;
    margin: .3rem;
}

/* Footer bar  */

.footer {
    padding: 1rem;
    background-color: gray;

}

.footer p {
    text-align: center !important;
}